doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='theme-color', content='#3f5161')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='manifest', href='/pwa-vr-demo.webmanifest')
    script(src='/pwabuilder-sw-register.js')
    script(src="https://cdn.babylonjs.com/babylon.js")
    script(src="https://preview.babylonjs.com/loaders/babylonjs.loaders.min.js")
    script(src="https://code.jquery.com/pep/0.4.1/pep.js")
  body
    block content
    canvas(id="renderCanvas", touch-action="none")
    script(src='/javascripts/main.js')
